### APP ###
APP_NAME=Bookbox
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://bookbox.local

### LOCALE ###
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
TIMEZONE=America/Sao_Paulo

### LOG ###
LOG_CHANNEL=daily
LOG_DAYS=14
LOG_LEVEL=warning
LOG_DEPRECATIONS_CHANNEL=null

### DATABASE ###
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

### SESSION ###
SESSION_DRIVER=file
SESSION_LIFETIME=300
SESSION_ENCRYPT=true
SESSION_EXPIRE_ON_CLOSE=false
SESSION_PATH=/
SESSION_DOMAIN=

### COOKIE (JWT) ###
JWT_COOKIE_NAME=jwt_token
JWT_ACCESS_COOKIE=access_token
JWT_REFRESH_COOKIE=refresh_token
JWT_COOKIE_PATH=/
JWT_COOKIE_DOMAIN=
JWT_COOKIE_HTTPONLY=true
JWT_COOKIE_SECURE=false
JWT_COOKIE_RAW=false
JWT_COOKIE_SAMESITE=Strict
JWT_SECRET=
JWT_TTL=60
JWT_REFRESH_TTL=300
JWT_ISSUER=http://bookbox.local
JWT_AUDIENCE=http://bookbox.local/app
JWT_ALGO=HS256

### AUTH ###
AUTH_GUARD=api
AUTH_PASSWORD_BROKER=users

### CACHING ###
CACHE_DRIVER=file

### QUEUE ###
QUEUE_CONNECTION=database

### FILESYSTEM ###
FILESYSTEM_DISK=local

### BROADCAST ###
BROADCAST_CONNECTION=log

### MAIL ###
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

### CUSTOM ###
ENCRYPTION_KEY=

### FRONTEND (Vite) ###
VITE_APP_NAME="${APP_NAME}"

BROWSERSHOT_CHROME_PATH=

GOOGLE_BOOKS_API_KEY=

CLIENT_PRINTER_HOST=http://localhost:3000
