@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/Urbanist-VariableFont_wght.ttf');
}

:root {
    --branco: #FFFFFF;
    --cinza-escuro: #252525;
    --cinza: #fbfbfb;
    --cinza-claro: #dadada;
    --vermelho: #E44242;
    --verde: #98E55C;
    --laranja: #F8944C;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    color: #333;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*  TELA DE CADASTRO */
.cadastro-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Caixa do formulário */
.cadastro-box {
    width: 400px;
    height: 600px;
    padding: 45px 65px 45px 65px ;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Formulário */
.cadastro-form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

/* Título */
.cadastro-form h2 {
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
.cadastro-label {
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 14px;
    color: var(--cinza-escuro);
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

/* Campos de entrada */
.cadastro-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: var(--cinza);
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
    display: block;
}

.cadastro-input:focus {
    border-color: var(--cinza-escuro);
}

/* Botão */
.cadastro-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid var(--cinza-claro);
    border-radius: 16%;
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-button:hover {
    background-color: #444;
    color: #ffffff;
}

/* TELA DE LOGIN */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-box {
    display: flex;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.22);
    background-color: var(--cinza-escuro);
}

/* 🔹 Lado esquerdo (formulário) */
.login-form {
    width: 50%;
    border-radius: 20px;
    background-color: var(--branco);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 20px solid white;
    margin-left: -5px;
    margin-right: 5px;
}

.login-form h2 {
    font-family: 'Urbanist';
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
     color: #333;
    text-align: center;
}

.login-label {
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 14px;
    color: var(--cinza-escuro);
    margin-bottom: 5px;
    display: block;
}

.login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--cinza);
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
}

.login-input:focus {
    border-color: var(--cinza-escuro);
}

/* 🔹 Botão de login (seta) */
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid var(--cinza-claro);
    border-radius: 16%;
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--cinza-escuro);
    color: var(--branco);
}

/* 🔹 Lado direito (bem-vindo) */
.login-right {
    width: 50%;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 35px;
    text-align: center;
    border-radius: 20px;
}

.login-right h1 {
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0px;
    color: var(--branco);
}

.login-right p {
    font-family: 'Urbanist';
    font-size: 16px;
    color: var(--cinza-claro);
    margin-bottom: 30px;
}

/* Estilo do ícone "B" */
.login-logo img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

/* Estilo de erro */
.login-error {
    color: var(--vermelho);
    text-align: center;
    margin-top: 10px;
}

.menusuperior {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 15px;
    height: 70px;
    border-radius: 0px;
}

.logo {
    max-width: 50%;
    height: auto;
    margin: 0px 10px 0px 10px;
}

.retangulo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: #333;
    padding: 1.5% 1%;
    border-radius: 10px;
    width: 100%;
    height: 55px;
    margin-right: 1%;
    margin-left: 1%;
}

.barradepesquisa {
    padding: 1%;
    font-size: 14px;
    width: 30%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #535353;
    color: #ffffff;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}

.btnfiltro {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #454545;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    margin-right: 60px;
}

.btnfiltro img {
    width: 140%;
    height: auto;
}

.btnfiltro:hover {
    background-color: #949393;
    transition: 1s;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu-top-btn {
    font-family: 'Urbanist';
    font-size: 100%;
    position: relative;
    padding: 9px 30px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
    
}

.menu-top-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.menu-top-btn:hover::after {
    width: 75%;
    
}

.trespontinhos {
    position: absolute;
    right: 10px;
    top: 50%;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    transform: translateY(-50%);
    background: #454545;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trespontinhos:hover {
    color: #454545;
    background: #ffffff;
    transition: 1s;
}





/* TABELAS */
.containerTI {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebarTI {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.titleTI {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.cardTI {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.cardTI h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.cardTI p {
    font-size: 0.9rem;
    color: #555;
}

.cardRedTI {
    border-left: 8px solid red;
}

.cardOrangeTI {
    border-left: 8px solid orange;
}

.cardGreenTI {
    border-left: 8px solid green;
}

.contentTI {
    flex: 1;
    display: inline;
    padding: 20px;
}

.navBarTI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.searchBarTI input {
    padding: 8px 35px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menuTI a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.95rem;
}

.tableContainerTI {
    overflow-x: auto;
}

.tableTI {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tableTI th,
.tableTI td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Urbanist';
}

.buttonsTI {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btnTI {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .containerTI {
        flex-direction: column;
    }

    .sidebarTI {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
}

.search-btn:hover {
    background-color: #bbb;
}

/* CLASSES MODALS*/
.modal {
    background: #fff;
    width: 650px;
    position: relative;
    border-radius: 6px;
}

.modal-header {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-radius: 6px 6px 0 0;
    padding: 0 15px;
}

.modal-title {
    color: white;
    font-size: 1.5em;
    text-align: center;
    flex-grow: 1;
}

.modal-close {
    color: white;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    border: none;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close:hover {
    background: rgba(255, 0, 0, 0.526);
    transition: 1s ease;
}

.modal-body {
    width: 100%;
    padding: 15px;
}

.modal-input {
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    transition: 0.1s ease;

}

.modal-inputt {
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    font-size: 1em;
}

.labelline {
    position: absolute;
    font-size: 1em;
    color: #6e6e6e;
    background: #ffffff;
    padding: 0 5px;
    transition: 0.2s ease;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.label-fixa {
    top: -10px;
    left: 10px;
    font-size: 0.85em;
    background-color: #ffffff;
    padding: 0 5px;
    transform: none;
    color: #6e6e6e;
    pointer-events: none;
}

.modal-input:focus,
.modal-input:valid {
    position: relative;
    border: 2px solid #000;
    z-index: 2;
}

.modal-input:focus+.labelline,
.modal-input:valid+.labelline {
    position: absolute;
    color: #000000;
    top: 0px;
    left: 10px;
    transform: translatey(-50%) scale(0.8);
    transform-origin: left center;
    z-index: 4;
}

.entryarea {
    position: relative;
    height: 35px;
    margin-bottom: 10px;
}

.modal-input.preenchido {
    position: relative;
    border: 2px solid #000;
    z-index: 2;
}

.modal-input.preenchido + .labelline {
    position: absolute;
    color: #000000;
    top: 0px;
    left: 10px;
    transform: translateY(-50%) scale(0.8);
    transform-origin: left center;
    z-index: 4;
}

.rec-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-button {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
}

.modal-button:hover {
    background: #282828;
    color: #fff;
    border: 1px solid #fff;
    transition: 1s ease;

}

.login-erro {
        color: red;
        margin-top: 10px;
        display: block;
        font-family: 'Urbanist';
        font-weight: bold;
        font-size: 0.95rem;
        margin-left: 20%;
    }

.cadastro-erro {
    color: red;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: 0.95rem;
    min-height: 10px; /* espaço fixo reservado */
    margin: 0;         /* remove margens externas */
    padding: 0;        /* remove espaçamento interno */
    line-height: 1.2;  /* controla a altura da linha para evitar estourar */
    display: block;
    overflow: hidden;  /* evita estourar se a mensagem for grande */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal-container {
    position: relative;
}

/* Faz a label ficar fixa acima do campo */
.label-fixa {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #444;
    pointer-events: none;
}

.esqueceu-senha{
    color: #333;
    margin-top: 10px;
    display: block;
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 20%;
    text-decoration: none; 
}


  .esqueceu-senha::after {
    content: '';
    position: absolute;
    margin-top: 20px;
    left: 545px;
    height: 2px;
    width: 13%;
    background-color: #000;
     transform: translateX(-50%) scaleX(0); /* centraliza e esconde */
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .esqueceu-senha:hover::after {
     transform: translateX(-50%) scaleX(1); /* revela expandindo do centro */
  }

  /*  TELA DE CADASTRO */
.email-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Caixa do formulário */
.email-box {
    width: 400px;
    height: 300px;
    padding: 45px 65px 45px 65px ;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Formulário */
.email-form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

/* Título */
.email-form h2 {
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
.email-label {
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 14px;
    color: var(--cinza-escuro);
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

/* Campos de entrada */
.email-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: var(--cinza);
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
    display: block;
}

.cadastro-input:focus {
    border-color: var(--cinza-escuro);
}

/* Botão */
.email-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 1rem;
}

.email-button:hover {
    background-color: #444;
    color: #ffffff;
}
/*---------------------------*/
.codigo-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
    font-family: Arial, sans-serif;
}

.codigo-box {
    width: 450px;
    height: 200px;
    padding: 30px 50px 45px 50px ;
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.codigo-form {
    height: 200px;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center; 
    
}

.hc{
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 1rem;
    color: #6e6e6e;
}

.codigo-q{
    position: absolute;
    width: 95%;
    bottom: 40%;
    display: flex;
    gap: 2% ;
}

.codigo-input {
    width: 50px;
    height: 50px;
    padding: 0px 0px 0px 17px;
    margin-bottom: 3px;
    background-color: var(--cinza);
    border: 1px solid var(--cinza-claro);
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
    display: block;
}

.reenviar{
    position: absolute;
    left: 20%;
    color: #333;
    bottom: 30%;
    display: block;
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 20%;
    text-decoration: none; 
}


  .reenviar::after {
    content: '';
    position: absolute;
    margin-top: 20px;
    left: 35px;
    height: 2px;
    width: 70px;
    background-color: #000;
     transform: translateX(-50%) scaleX(0); /* centraliza e esconde */
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .reenviar:hover::after {
     transform: translateX(-50%) scaleX(1); /* revela expandindo do centro */
  }

  .nova-senha-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid var(--cinza-claro);
    border-radius: 16%;
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nova-senha-button:hover {
    background-color: var(--cinza-escuro);
    color: var(--branco);
}