<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>App\Models\View\StudentSchoolClass | Bookbox Project Documentation</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/doctum.css">
        <link rel="stylesheet" type="text/css" href="../../../fonts/doctum-font.css">
        <script src="../../../js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="../../../doctum.js"></script>
        <script async defer src="../../../js/bootstrap.min.js"></script>
        <script async defer src="../../../js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="class" data-name="class:App_Models_View_StudentSchoolClass" data-root-path="../../../" data-search-index-url="../../../doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="../../../search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Bookbox Project Documentation</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                    <li><a href="../../../namespaces.html">Namespaces</a></li>
                    <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../App.html">App</a></li><li class="backslash">\</li><li><a href="../../../App/Models.html">Models</a></li><li class="backslash">\</li><li><a href="../../../App/Models/View.html">View</a></li><li class="backslash">\</li><li>StudentSchoolClass</li>
            </ol>
        </div>
                <div id="page-content">
    <div class="page-header">
        <h1>StudentSchoolClass    
            </h1>
    </div>

    
    <p>        class
    <strong>StudentSchoolClass</strong>        extends <a href="../../../App/Models/View/BaseModel.html"><abbr title="App\Models\View\BaseModel">BaseModel</abbr></a>        (<a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php">View source</a>)
</p>

        
    
        

            <div class="description">
            <p><p>Represents the view <code>vw_student_school_class</code>, which links students and school classes,
including decrypted and formatted personal data (CPF, email, phone) for display and filtering.</p></p>                    </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_timestamps">
                                                                                bool
                                                                                
                                    </td>
                <td>$timestamps</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_table">
                                        protected                                        string
                                                                                
                                    </td>
                <td>$table</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_guarded">
                                        protected                                        <abbr title="App\Models\View\array&lt;int,string&gt;">array&lt;int,string&gt;</abbr>
                                                                                
                                    </td>
                <td>$guarded</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_hidden">
                                        protected                                        <abbr title="App\Models\View\array&lt;int,string&gt;">array&lt;int,string&gt;</abbr>
                                                                                
                                    </td>
                <td>$hidden</td>
                <td class="last"></td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_save">save</a>(array $options = [])
        
                                            <p><p>Prevents saving, enforcing read-only behavior for view models.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../App/Models/View/BaseModel.html#method_save">
<abbr title="App\Models\View\BaseModel">BaseModel</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8">
                    <a href="#method_getIdAttribute">getIdAttribute</a>(null|string $value)
        
                                            <p><p>Converts binary UUID (BLOB) to string representation.</p></p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../App/Models/View/BaseModel.html#method_getIdAttribute">
<abbr title="App\Models\View\BaseModel">BaseModel</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    null|string
                </div>
                <div class="col-md-8">
                    <a href="#method_getStudentIdAttribute">getStudentIdAttribute</a>(null|string $value)
        
                                            <p><p>Converts the binary UUID of the student to a string.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    null|string
                </div>
                <div class="col-md-8">
                    <a href="#method_getSchoolClassIdAttribute">getSchoolClassIdAttribute</a>(null|string $value)
        
                                            <p><p>Converts the binary UUID of the school class to a string.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8">
                    <a href="#method_getCpfAttribute">getCpfAttribute</a>(null|string $value)
        
                                            <p><p>Decrypts and formats the student's CPF.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8">
                    <a href="#method_getEmailAttribute">getEmailAttribute</a>(null|string $value)
        
                                            <p><p>Decrypts and returns the student's email.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8">
                    <a href="#method_getPhoneAttribute">getPhoneAttribute</a>(null|string $value)
        
                                            <p><p>Decrypts and formats the student's phone number.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_student">student</a>()
        
                                            <p><p>Defines the relationship between the record and its corresponding student.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_schoolClass">schoolClass</a>()
        
                                            <p><p>Defines the relationship between the record and its corresponding school class.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;<abbr title="Illuminate\Support\Collection">Collection</abbr>
                </div>
                <div class="col-md-8">
                    <a href="#method_getFilterData">getFilterData</a>(null|<abbr title="Illuminate\Database\Eloquent\Builder">Builder</abbr> $query = null)
        
                                            <p><p>Retrieves unique combinations of course, period, term, and borrowing permission
to be used as filter data.</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_save">
        <div class="location">in <a href="../../../App/Models/View/BaseModel.html#method_save">
<abbr title="App\Models\View\BaseModel">BaseModel</abbr></a> <a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/BaseModel.php#L20">at line 20</a></div>
        <code>                    
    <strong>save</strong>(array $options = [])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Prevents saving, enforcing read-only behavior for view models.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a target="_blank" rel="noopener" href="https://www.php.net/Exception">Exception</a></td>
                <td></td>
            </tr>
            </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getIdAttribute">
        <div class="location">in <a href="../../../App/Models/View/BaseModel.html#method_getIdAttribute">
<abbr title="App\Models\View\BaseModel">BaseModel</abbr></a> <a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/BaseModel.php#L30">at line 30</a></div>
        <code>                    string|null
    <strong>getIdAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Converts binary UUID (BLOB) to string representation.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getStudentIdAttribute">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L40">at line 40</a></div>
        <code>                    null|string
    <strong>getStudentIdAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Converts the binary UUID of the student to a string.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td><p>Binary UUID value</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>null|string</td>
            <td><p>UUID as string or null</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getSchoolClassIdAttribute">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L52">at line 52</a></div>
        <code>                    null|string
    <strong>getSchoolClassIdAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Converts the binary UUID of the school class to a string.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td><p>Binary UUID value</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>null|string</td>
            <td><p>UUID as string or null</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCpfAttribute">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L66">at line 66</a></div>
        <code>                    string|null
    <strong>getCpfAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Decrypts and formats the student's CPF.</p></p>                <p><p>Example output: 123.456.789-00</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td><p>Encrypted CPF</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td><p>Decrypted and formatted CPF, or null if unavailable</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getEmailAttribute">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L89">at line 89</a></div>
        <code>                    string|null
    <strong>getEmailAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Decrypts and returns the student's email.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td><p>Encrypted email</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td><p>Decrypted email or null if unavailable</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPhoneAttribute">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L103">at line 103</a></div>
        <code>                    string|null
    <strong>getPhoneAttribute</strong>(null|string $value)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Decrypts and formats the student's phone number.</p></p>                <p><p>Example output: (12) 34567-8901</p></p>        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|string</td>
                <td>$value</td>
                <td><p>Encrypted phone number</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td><p>Decrypted and formatted phone number, or null if unavailable</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_student">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L122">at line 122</a></div>
        <code>                    <abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr>
    <strong>student</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Defines the relationship between the record and its corresponding student.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_schoolClass">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L130">at line 130</a></div>
        <code>                    <abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr>
    <strong>schoolClass</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Defines the relationship between the record and its corresponding school class.</p></p>                        
        </div>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Illuminate\Database\Eloquent\Relations\BelongsTo">BelongsTo</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFilterData">
        <div class="location"><a href="https://github.com/guilherme_garrote/bookbox/blob/main//bookbox/app/Models/View/StudentSchoolClass.php#L143">at line 143</a></div>
        <code>        static            <abbr title="Illuminate\Support\Collection">Collection</abbr>
    <strong>getFilterData</strong>(null|<abbr title="Illuminate\Database\Eloquent\Builder">Builder</abbr> $query = null)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>Retrieves unique combinations of course, period, term, and borrowing permission
to be used as filter data.</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>null|<abbr title="Illuminate\Database\Eloquent\Builder">Builder</abbr></td>
                <td>$query</td>
                <td><p>Optional query builder instance</p></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Illuminate\Support\Collection">Collection</abbr></td>
            <td><p>Filtered data collection</p></td>
        </tr>
    </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
