RewriteEngine On

# Evita que arquivos estáticos (imagens, CSS, JS, etc.) sejam reescritos
RewriteCond %{REQUEST_URI} !\.(?:png|jpe?g|gif|svg|webp|css|js|woff|woff2|ttf|otf|eot|ico)$ [NC]

# Garante que URLs não existentes (não arquivos ou diretórios físicos) sejam passadas para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para index.php (ou web.php) com os parâmetros da URL
RewriteRule ^(.*)$ /bookbox/public/index.php?$1 [L,QSA]
