@import 'base/_reset.css';
@import 'base/_variables.css';
@import 'components/_buttons.css';
@import 'components/_inputs.css';
@import 'components/_tooltips.css';
@import 'components/_modal.css';
@import 'layouts/_header.css';
@import 'libs/notyf-custom.css';

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #2c2c2c;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
