.btn-dark {
    background: var(--color-base-gray-454);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-base-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-shrink: 0;
}

.btn-dark:hover {
    background: var(--color-base-gray-949);
    color: var(--color-base-gray-dark);
}

.btn-trash {
    border: none;
    cursor: pointer;
    color: var(--color-base-gray-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    padding: 0;
}

.btn-trash:hover {
    color: var(--color-base-gray-dark);
}

.btn-trash svg {
    width: 20px;
    height: 20px;
    display: block;
}

.btn-trash svg path {
    fill: black;
    transition: fill 0.3s ease;
}

.btn-trash:hover svg path {
    fill: var(--color-base-gray-dark);
}