/* =========================
   URBANIST – NORMAL
   ========================= */

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* =========================
   URBANIST – ITALIC
   ========================= */

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../fonts/Urbanist/Urbanist-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

:root {
    /* Core colors */
    --color-base-white: #FFFFFF;
    --color-base-gray-dark: #252525;
    --color-base-gray-medium: #6e6e6e;
    --color-base-gray: #fbfbfb;
    --color-base-gray-light: #dadada;
    --color-base-gray-454: #454545;
    --color-base-gray-535: #535353;
    --color-base-gray-949: #949393;

    /* Status colors */
    --color-status-error: #E44242;
    --color-status-success: #98E55C;
    --color-status-warning: #F8944C;

    /* UI colors */
    --color-ui-link: #5c5c5c;
    --color-ui-tooltip-error: #e53935;

    /* Fonts */
    --font-primary: 'Urbanist', sans-serif;

    /* Scroll */
    --scroll-size: 12px;
    --scroll-radius: 20px;
    --scroll-track: var(--color-base-gray-454);
    --scroll-thumb-color: var(--color-base-white);
    --scroll-thumb-pattern: linear-gradient(rgb(255 255 255 / 30%) 20%, transparent 20%,
            transparent 40%, rgb(255 255 255 / 30%) 40%,
            rgb(255 255 255 / 30%) 60%, transparent 60%,
            transparent 80%, rgb(255 255 255 / 30%) 80%);
}
